<header class="navbar navbar-fixed-top navbar-inverse"
        style="background-color:#FF6600;">
    </header>
<h1>New Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Back', comments_path %>
