<footer class="footer">
  <tr><td><center>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center>
  <small>
    The clone of <a href="https://news.ycombinator.com/">Hacker News</a>
    by <a> Adrià, Álvaro, Oriol, Daniel </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://atenea.upc.edu/mod/page/view.php?id=2158266' %></li>
      <li><a href="http://railstutorial.org/">Created with</a></li>
    </ul>
  </nav>
</footer>