<footer class="footer">
  <small>
    The clone of <a href="https://news.ycombinator.com/">Hacker News</a>
    by <a> Adrià, Álvaro, Oriol, Daniel </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://atenea.upc.edu/mod/page/view.php?id=2158266' %></li>
      <li><a href="http://railstutorial.org/">Created with</a></li>
    </ul>
  </nav>
</footer>